In [1]:
import pandas as pd
import numpy as np

In [2]:
path = r'../doctor_auth.csv'

In [3]:
df = pd.read_csv(path)

In [4]:
df.head()

  doctor_id       password
0    AAA001      05BF*i*0q
1    AAA002  mNzT*.&p2wi60
2    AAA003    X2,pU4%WXcu
3    AAA004   akkLF-Y1%DaL
4    AAA005     nJdQ#Q9r1p

In [5]:
df2 = pd.read_csv('cleaned_data.csv')

In [6]:
df2.head(10)

,Doctor_ID,Name,Degree,Rating,Patients,City,Consult Fee,Experience,Speciality
0,AAA001,Dr. Jasmeet Singh,"MBBS, DNB - General Medicine",5.00,30,Mohali,500,22,"Internal Medicine, General Physician, Consulta..."
1,AAA002,Dr. Shikha Verma,"DNB - Dermatology & Venereology, MD - Dermatol...",4.95,515,Mohali,600,28,"Dermatologist, Venereologist, Aesthetic Dermat..."
2,AAA003,Dr. R S Rai,"MBBS, MS - General Surgery, MCh - Urology",4.80,106,Mohali,1000,38,"Sexologist, Urologist"
3,AAA004,Dr. Anshu Syed,"MBBS, DNB - Obstetrics & Gynecology",4.90,54,Mohali,500,18,"Gynecologist, Obstetrician"
4,AAA005,Dr. Pooja Modgil,BAMS,4.90,127,Mohali,500,24,AYUSHAyurveda
5,AAA006,Dr. Akhil Gupta,"BDS, MDS - Conservative Dentistry & Endodontics",4.90,95,Mohali,300,13,"Endodontist, Cosmetic/Aesthetic Dentist"
6,AAA007,Dr. Saran Gill,"BDS, MDS - Orthodontics and Dentofacial Orthop...",4.95,76,Mohali,300,16,"Orthodontist, Dentofacial Orthopedist, Cosmeti..."
7,AAA008,Dr. Sachin Goyal,"BDS, MDS - Periodontics",5.00,209,Mohali,300,19,"Periodontist, Cosmetic/Aesthetic Dentist, Impl..."
8,AAA009,Dr. Gaurav Malik,"BDS, MDS - Periodontology and Oral Implantology",4.95,221,Mohali,900,21,"Dentist, Periodontist, Implantologist, Cosmeti..."
9,AAA010,Dr. Simranjeet Kaur,MPTh/MPT - Cardiovascular & Pulmonary Physioth...,5.00,12,Mohali,450,11,TherapistPhysiotherapist

In [7]:
name_list = list(df2['Name'])

In [8]:
n = len(name_list)
n

8459

In [9]:
for i in range(n):
    name_list[i] = str(name_list[i])
    name_list[i] = name_list[i].strip('Dr.').strip()
    n_ = len(name_list[i])
    for j in range(n_):
        if name_list[i][j]=='(':
            name_list[i] = name_list[i][:j]
            break

In [10]:
for i in range(20):
    print(name_list[i])

Jasmeet Singh
Shikha Verma
R S Rai
Anshu Syed
Pooja Modgil
Akhil Gupta
Saran Gill
Sachin Goyal
Gaurav Malik
Simranjeet Kau
Ankur Vats
Sartaaj Singh Butta
Vijaya Gupta
Sudha Gupta
Chandandeep Singh Sandhu
Garima Goyal
Kanwar Sidharth
Karan Dhawan
Kamna Nagpal
Bhupinder Pal

In [11]:
user_name = []
for i in name_list:
    u_name = ''
    for j in i:
        if j==' ':
            x = np.random.choice(['', '', '', '.', '_'])
            u_name+=x
        else:
            u_name+=j
    user_name.append(u_name)

In [12]:
for i in range(n):
    user_name[i]=user_name[i].lower()

In [13]:
for i in range(20):
    print(user_name[i])

jasmeetsingh
shikhaverma
r.srai
anshu_syed
poojamodgil
akhil.gupta
sarangill
sachingoyal
gaurav_malik
simranjeet.kau
ankur_vats
sartaajsinghbutta
vijaya_gupta
sudhagupta
chandandeep.singhsandhu
garimagoyal
kanwarsidharth
karandhawan
kamnanagpal
bhupinderpal

In [14]:
sp_char1 = ['', '', '', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
sp_char2 = ['', '', '', '', '', '', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
sp_char3 = ['', '', '', '', '', '', '', '', '', '', '', '', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
sp_char4 = ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
for i in range(n):
    user_n = user_name[i]
    num = ''
    num+= str(np.random.choice(sp_char1))
    num+= str(np.random.choice(sp_char2))
    num+= str(np.random.choice(sp_char3))
    num+= str(np.random.choice(sp_char4))
    user_name[i] = user_n+num

In [19]:
for i in range(20):
    print(user_name[i])

jasmeetsingh906
shikhaverma334
r.srai54
anshu_syed863
poojamodgil7
akhil.gupta95
sarangill707
sachingoyal995
gaurav_malik757
simranjeet.kau80
ankur_vats37
sartaajsinghbutta197
vijaya_gupta47
sudhagupta15
chandandeep.singhsandhu882
garimagoyal06
kanwarsidharth76
karandhawan002
kamnanagpal7
bhupinderpal0

In [20]:
domains = ['@gmail.com', '@outlook.com', '@hotmail.com', '@yahoo.com', '@icloud.com', '@msn.com', '@proton.me']
weights = [.3, .1, .07, .1, .4, .02, .01]

In [21]:
email_list = []

for i in range(n):
    x = np.random.choice(domains, p=weights)
    email = user_name[i]+x
    email_list.append(email)

In [31]:
for i in range(20):
    print(email_list[i])

jasmeetsingh4687@gmail.com
shikha_verma3279@gmail.com
rsrai376@icloud.com
anshu.syed9@icloud.com
poojamodgil667@gmail.com
akhil_gupta59@icloud.com
sarangill43@yahoo.com
sachin.goyal86@icloud.com
gaurav_malik862@hotmail.com
simranjeetkau174@yahoo.com
ankur.vats8@hotmail.com
sartaajsinghbutta033@gmail.com
vijaya.gupta95@icloud.com
sudha_gupta7@icloud.com
chandandeepsinghsandhu40@gmail.com
garimagoyal3362@icloud.com
kanwarsidharth226@yahoo.com
karan.dhawan339@yahoo.com
kamnanagpal@icloud.com
bhupinderpal89@icloud.com

In [22]:
email_list[140:155]

['sonalsaumya42@hotmail.com',
 'ravirajga86@icloud.com',
 'n.chandrasheka1@outlook.com',
 'aparna_shintre4550@icloud.com',
 'suvarnajyothig6@yahoo.com',
 'arahimkhan93@icloud.com',
 'subodh.kumarmahato._009@gmail.com',
 'savithag870@gmail.com',
 'abhishekshetty187@yahoo.com',
 'nagaveni.r396@gmail.com',
 'jhansilakshmipeddi00@icloud.com',
 'mukta_shrivastava649@yahoo.com',
 'akhilaanand65@icloud.com',
 'lingarajua.p4@icloud.com',
 'ms..sushmaajaiswal30@gmail.com']

In [23]:
user_id_list = list(df2['Doctor_ID'])

In [29]:
user_id_list.insert(0, 'TEST01')

In [30]:
len(user_id_list)

8460

In [26]:
email_list.insert(0, 'architpant@gmail.com')

In [27]:
len(email_list)

8460

In [31]:
password_list = list(df['password'])

In [32]:
password_list.insert(0, 'archit')

In [33]:
len(password_list)

8460

In [35]:
df = pd.DataFrame({'doctor_id': user_id_list, 'email_id': email_list, 'password': password_list})

In [36]:
df

     doctor_id                      email_id        password
0       TEST01          architpant@gmail.com          archit
1       AAA001    jasmeetsingh906@icloud.com       05BF*i*0q
2       AAA002     shikhaverma334@icloud.com   mNzT*.&p2wi60
3       AAA003          r.srai54@outlook.com     X2,pU4%WXcu
4       AAA004      anshu_syed863@icloud.com    akkLF-Y1%DaL
...        ...                           ...             ...
8455    AAI463        manavluthra2@yahoo.com   V0g%NQyGE9ltL
8456    AAI464    r_psbhardwaj627@icloud.com       T2 YNn51G
8457    AAI465  nikhat.siddiqui11@icloud.com       AE4pYxKEG
8458    AAI466     rohittewari83@outlook.com  Wp#liL4shg#,ai
8459    AAI467    sanjay.borude23@icloud.com       uDerR,gpe

[8460 rows x 3 columns]

In [37]:
df.to_csv('doctor_auth.csv', index=False)