In [2]:
import pandas as pd
import numpy as np

In [1]:
path = r'../patient_auth.csv'

In [3]:
df = pd.read_csv(path)

In [4]:
df.head()

  patient_id       password
0    P001AAA    27X$BRD,Is5
1    P002AAA     .HCcjYHMk1
2    P003AAA    J#emn6 t@5b
3    P004AAA     iQb.F2N$lG
4    P005AAA  g9gWF4RsoOgU&

In [5]:
df2 = pd.read_csv('final_cleaned_names.csv')

In [6]:
df2.head(10)

            name gender      username  password
0  Sujata Dhawan      f  sujatadhawan  ^-/'~`=!
1    Jai Bhagwan      m    jaibhagwan  S<*iV+&n
2      Bhagwanti      f     bhagwanti  5hCi?.{q
3   Kushal Gupta      m   kushalgupta  k}?%&O^@
4   Gaurav Kumar      m   gauravkumar  MIwv~:@k
5         Noorin      f        noorin  [-|5|\|/
6         Deepak      m        deepak  $P-O0?D1
7         Neelam      f        neelam  (U:&/j@|
8         Manish      m        manish  z2)ii/?t
9        Manisha      f       manisha  +cy(!uww

In [7]:
name_list = list(df2['name'])

In [8]:
n = len(name_list)
n

22733

In [9]:
for i in range(n):
    name_list[i] = str(name_list[i])
    name_list[i] = name_list[i].strip()
    n_ = len(name_list[i])
    for j in range(n_):
        if name_list[i][j]=='(':
            name_list[i] = name_list[i][:j]
            break

In [10]:
for i in range(20):
    print(name_list[i])

Sujata Dhawan
Jai Bhagwan
Bhagwanti
Kushal Gupta
Gaurav Kumar
Noorin
Deepak
Neelam
Manish
Manisha
Kartik
Kumari Anju Rawat
Nijamuddin
Pinki
Kumari Hirawati
Ashiya
Joyti
Rohit
Tabssum Gudiya
Prem

In [11]:
user_name = []
for i in name_list:
    u_name = ''
    for j in i:
        if j==' ':
            x = np.random.choice(['', '', '', '.', '_'])
            u_name+=x
        else:
            u_name+=j
    user_name.append(u_name)

In [12]:
for i in range(n):
    user_name[i]=user_name[i].lower()

In [13]:
for i in range(20):
    print(user_name[i])

sujatadhawan
jai_bhagwan
bhagwanti
kushalgupta
gaurav_kumar
noorin
deepak
neelam
manish
manisha
kartik
kumari_anjurawat
nijamuddin
pinki
kumari_hirawati
ashiya
joyti
rohit
tabssumgudiya
prem

In [14]:
sp_char1 = ['', '', '', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
sp_char2 = ['', '', '', '', '', '', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
sp_char3 = ['', '', '', '', '', '', '', '', '', '', '', '', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
sp_char4 = ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
for i in range(n):
    user_n = user_name[i]
    num = ''
    num+= str(np.random.choice(sp_char1))
    num+= str(np.random.choice(sp_char2))
    num+= str(np.random.choice(sp_char3))
    num+= str(np.random.choice(sp_char4))
    user_name[i] = user_n+num

In [19]:
for i in range(20):
    print(user_name[i])

sujatadhawan907
jai_bhagwan27
bhagwanti98
kushalgupta662
gaurav_kumar925
noorin78
deepak30
neelam9
manish96
manisha90
kartik349
kumari_anjurawat114
nijamuddin282
pinki67
kumari_hirawati16
ashiya01
joyti465
rohit30
tabssumgudiya32
prem52

In [20]:
domains = ['@gmail.com', '@outlook.com', '@hotmail.com', '@yahoo.com', '@icloud.com', '@msn.com', '@proton.me']
weights = [.3, .1, .07, .1, .4, .02, .01]

In [21]:
email_list = []

for i in range(n):
    x = np.random.choice(domains, p=weights)
    email = user_name[i]+x
    email_list.append(email)

In [22]:
for i in range(20):
    print(email_list[i])

sujatadhawan907@icloud.com
jai_bhagwan27@msn.com
bhagwanti98@yahoo.com
kushalgupta662@icloud.com
gaurav_kumar925@icloud.com
noorin78@gmail.com
deepak30@icloud.com
neelam9@gmail.com
manish96@icloud.com
manisha90@outlook.com
kartik349@msn.com
kumari_anjurawat114@icloud.com
nijamuddin282@gmail.com
pinki67@icloud.com
kumari_hirawati16@gmail.com
ashiya01@icloud.com
joyti465@gmail.com
rohit30@icloud.com
tabssumgudiya32@gmail.com
prem52@icloud.com

In [23]:
user_id_list = list(df['patient_id'])

In [ ]:
user_id_list.insert(0, 'TEST01')

In [25]:
len(user_id_list)

22734

In [26]:
email_list.insert(0, 'architpant@gmail.com')

In [27]:
len(email_list)

22734

In [28]:
password_list = list(df['password'])

In [29]:
password_list.insert(0, 'archit')

In [30]:
len(password_list)

22734

In [31]:
df = pd.DataFrame({'patient_id': user_id_list, 'email_id': email_list, 'password': password_list})

In [32]:
df

      patient_id                     email_id        password
0         TEST01         architpant@gmail.com          archit
1        P001AAA   sujatadhawan907@icloud.com     27X$BRD,Is5
2        P002AAA        jai_bhagwan27@msn.com      .HCcjYHMk1
3        P003AAA        bhagwanti98@yahoo.com     J#emn6 t@5b
4        P004AAA    kushalgupta662@icloud.com      iQb.F2N$lG
...          ...                          ...             ...
22729    P729AAW      kmsivhani368@icloud.com  #xC*aY JooNMEi
22730    P730AAW          mukesh719@yahoo.com      stnjp4HUuG
22731    P731AAW  parnavkumar4793@hotmail.com      e4S6w!O4mL
22732    P732AAW       amitkumar32@icloud.com    867uL4O$QqNP
22733    P733AAW   ladukunwar4758@outlook.com        zAJi1dZD

[22734 rows x 3 columns]

In [33]:
df.to_csv('patient_auth.csv', index=False)

### Slight manipulation

In [61]:
df = pd.read_csv(r'./doctor_auth.csv')

In [62]:
df.head()

   Unnamed: 0 doctor_id                    email_id       password
0           0    AAA001  jasmeetsingh4687@gmail.com      05BF*i*0q
1           1    AAA002  shikha_verma3279@gmail.com  mNzT*.&p2wi60
2           2    AAA003         rsrai376@icloud.com    X2,pU4%WXcu
3           3    AAA004      anshu.syed9@icloud.com   akkLF-Y1%DaL
4           4    AAA005    poojamodgil667@gmail.com     nJdQ#Q9r1p

In [63]:
df.columns

Index(['Unnamed: 0', 'doctor_id', 'email_id', 'password'], dtype='object')

In [64]:
df.drop(columns=['Unnamed: 0'], axis=1, inplace=True)

In [52]:
df.head()

  doctor_id                    email_id       password
0    AAA001  jasmeetsingh4687@gmail.com      05BF*i*0q
1    AAA002  shikha_verma3279@gmail.com  mNzT*.&p2wi60
2    AAA003         rsrai376@icloud.com    X2,pU4%WXcu
3    AAA004      anshu.syed9@icloud.com   akkLF-Y1%DaL
4    AAA005    poojamodgil667@gmail.com     nJdQ#Q9r1p

In [66]:
row = pd.DataFrame({'doctor_id': ['TEST01'], 'email_id': ['architpant@gmail.com'], 'password': ['archit']})

In [68]:
row

  doctor_id              email_id password
0    TEST01  architpant@gmail.com   archit

In [69]:
df = pd.concat([row, df], ignore_index=True)

In [70]:
df

     doctor_id                        email_id        password
0       TEST01            architpant@gmail.com          archit
1       AAA001      jasmeetsingh4687@gmail.com       05BF*i*0q
2       AAA002      shikha_verma3279@gmail.com   mNzT*.&p2wi60
3       AAA003             rsrai376@icloud.com     X2,pU4%WXcu
4       AAA004          anshu.syed9@icloud.com    akkLF-Y1%DaL
...        ...                             ...             ...
8456    AAI464        rp_s.bhardwaj5@gmail.com       T2 YNn51G
8457    AAI465  nikhat.siddiqui077@outlook.com       AE4pYxKEG
8458    AAI466        rohittewari092@gmail.com  Wp#liL4shg#,ai
8459    AAI467     sanjay_borude511@icloud.com       uDerR,gpe
8460    TEST01            architpant@gmail.com          archit

[8461 rows x 3 columns]

In [72]:
df = df.iloc[:-1, :]

In [73]:
df

     doctor_id                        email_id        password
0       TEST01            architpant@gmail.com          archit
1       AAA001      jasmeetsingh4687@gmail.com       05BF*i*0q
2       AAA002      shikha_verma3279@gmail.com   mNzT*.&p2wi60
3       AAA003             rsrai376@icloud.com     X2,pU4%WXcu
4       AAA004          anshu.syed9@icloud.com    akkLF-Y1%DaL
...        ...                             ...             ...
8455    AAI463     manavluthra5223@outlook.com   V0g%NQyGE9ltL
8456    AAI464        rp_s.bhardwaj5@gmail.com       T2 YNn51G
8457    AAI465  nikhat.siddiqui077@outlook.com       AE4pYxKEG
8458    AAI466        rohittewari092@gmail.com  Wp#liL4shg#,ai
8459    AAI467     sanjay_borude511@icloud.com       uDerR,gpe

[8460 rows x 3 columns]

In [74]:
df.to_csv('doctor_auth.csv', index=False)