Loading Dataset

In [ ]:
import pandas as pd

df = pd.read_csv("doctor.csv")
print(df.head)

<bound method NDFrame.head of                             Name  \
0              Dr. Vinay Sakhuja
1               Dr. Gaurav Saini
2             Dr. Munish Chauhan
3              Dr. Jasmeet Singh
4               Dr. Shikha Verma
...                          ...
17618       Dr. Madhulika Shukla
17619  Dr. Vijayant Kumar Sachan
17620       Dr. Siddharth Mishra
17621                        NaN
17622     Dr. Madhukar Vashistha

                                                  Degree DP Score  \
0                   MBBS, MD - Medicine, DM - Nephrology      NaN
1                                MBBS, MS - Orthopaedics      NaN
2           MBBS, MD - General Medicine, DM - Nephrology      NaN
3                           MBBS, DNB - General Medicine     100%
4      DNB - Dermatology & Venereology, MD - Dermatol...      99%
...                                                  ...      ...
17618                                               BHMS      NaN
17619  MBBS, MS - General Surgery, DNB - Surgical Gas...      NaN
17620                         MBBS, MS - General Surgery      NaN
17621                                                NaN      NaN
17622                                     MBBS, MS - ENT      NaN

            NPV Value      Location    City Consult Fee Years of Experience  \
0                 NaN      Phase-VI  Mohali       ₹1200                  44
1                 NaN      Phase-VI  Mohali       ₹1100                  18
2                 NaN      Phase-VI  Mohali       ₹1200                  21
3       (30 patients)    Sector- 68  Mohali        ₹500                  22
4      (515 patients)    Sector- 69  Mohali        ₹600                  28
...               ...           ...     ...         ...                 ...
17618             NaN     Kalyanpur  Kanpur        ₹500                  h7
17619             NaN         Barra  Kanpur        ₹600                  17
17620             NaN   Colonelganj  Kanpur        ₹500                  t7
17621             NaN           NaN     NaN         NaN                 NaN
17622             NaN  Indira Nagar  Kanpur        ₹600                  14

                                              Speciality
0                          Nephrologist/Renal Specialist
1                                     Orthopedic surgeon
2                          Nephrologist/Renal Specialist
3      Internal Medicine, General Physician, Consulta...
4      Dermatologist, Venereologist, Aesthetic Dermat...
...                                                  ...
17618                                    AYUSHHomoeopath
17619  Gastroenterologist, Laparoscopic Surgeon, Gene...
17620  General Surgeon, Laparoscopic Surgeon, Proctol...
17621                                                NaN
17622  ENT/ Otorhinolaryngologist, Head and Neck Surg...

[17623 rows x 9 columns]>

In [3]:
df.shape

(17623, 9)

#Preprocessing

Checking for NaN

In [2]:
nan_count = df['DP Score'].isna().sum()
print(nan_count)

8224

In [4]:
nan_count = df['NPV Value'].isna().sum()
print(nan_count)

8224

In [5]:
nan_count = df['Consult Fee'].isna().sum()
print(nan_count)

120

In [6]:
nan_count = df['Years of Experience'].isna().sum()
print(nan_count)

16

In [7]:
nan_count = df['Degree'].isna().sum()
print(nan_count)

18

In [8]:
nan_count = df['Name'].isna().sum()
print(nan_count)

16

In [9]:
nan_count = df['City'].isna().sum()
print(nan_count)

16

In [10]:
nan_count = df['Speciality'].isna().sum()
print(nan_count)

30

In [11]:
df = df.dropna(subset=['Name', 'City', 'Speciality', 'Degree', 'Years of Experience', 'Consult Fee'])

In [12]:
print(df.count())

Name                   17489
Degree                 17489
DP Score                9364
NPV Value               9364
Location               17489
City                   17489
Consult Fee            17489
Years of Experience    17489
Speciality             17489
dtype: int64

Cleaning Dataset

In [13]:
cl_df = df.copy()
cl_df.head()

,Name,Degree,DP Score,NPV Value,Location,City,Consult Fee,Years of Experience,Speciality
0,Dr. Vinay Sakhuja,"MBBS, MD - Medicine, DM - Nephrology",NaN,NaN,Phase-VI,Mohali,₹1200,44,Nephrologist/Renal Specialist
1,Dr. Gaurav Saini,"MBBS, MS - Orthopaedics",NaN,NaN,Phase-VI,Mohali,₹1100,18,Orthopedic surgeon
2,Dr. Munish Chauhan,"MBBS, MD - General Medicine, DM - Nephrology",NaN,NaN,Phase-VI,Mohali,₹1200,21,Nephrologist/Renal Specialist
3,Dr. Jasmeet Singh,"MBBS, DNB - General Medicine",100%,(30 patients),Sector- 68,Mohali,₹500,22,"Internal Medicine, General Physician, Consulta..."
4,Dr. Shikha Verma,"DNB - Dermatology & Venereology, MD - Dermatol...",99%,(515 patients),Sector- 69,Mohali,₹600,28,"Dermatologist, Venereologist, Aesthetic Dermat..."

Dropping Location column

In [14]:
cl_df = cl_df.drop(columns=['Location'])
cl_df.head()

,Name,Degree,DP Score,NPV Value,City,Consult Fee,Years of Experience,Speciality
0,Dr. Vinay Sakhuja,"MBBS, MD - Medicine, DM - Nephrology",NaN,NaN,Mohali,₹1200,44,Nephrologist/Renal Specialist
1,Dr. Gaurav Saini,"MBBS, MS - Orthopaedics",NaN,NaN,Mohali,₹1100,18,Orthopedic surgeon
2,Dr. Munish Chauhan,"MBBS, MD - General Medicine, DM - Nephrology",NaN,NaN,Mohali,₹1200,21,Nephrologist/Renal Specialist
3,Dr. Jasmeet Singh,"MBBS, DNB - General Medicine",100%,(30 patients),Mohali,₹500,22,"Internal Medicine, General Physician, Consulta..."
4,Dr. Shikha Verma,"DNB - Dermatology & Venereology, MD - Dermatol...",99%,(515 patients),Mohali,₹600,28,"Dermatologist, Venereologist, Aesthetic Dermat..."

In [15]:
cl_df.count()

Name                   17489
Degree                 17489
DP Score                9364
NPV Value               9364
City                   17489
Consult Fee            17489
Years of Experience    17489
Speciality             17489
dtype: int64

In [16]:
cl_df = cl_df.dropna()
cl_df.count()

Name                   9364
Degree                 9364
DP Score               9364
NPV Value              9364
City                   9364
Consult Fee            9364
Years of Experience    9364
Speciality             9364
dtype: int64

In [17]:
cl_df.head()

,Name,Degree,DP Score,NPV Value,City,Consult Fee,Years of Experience,Speciality
3,Dr. Jasmeet Singh,"MBBS, DNB - General Medicine",100%,(30 patients),Mohali,₹500,22,"Internal Medicine, General Physician, Consulta..."
4,Dr. Shikha Verma,"DNB - Dermatology & Venereology, MD - Dermatol...",99%,(515 patients),Mohali,₹600,28,"Dermatologist, Venereologist, Aesthetic Dermat..."
6,Dr. R S Rai,"MBBS, MS - General Surgery, MCh - Urology",96%,(106 patients),Mohali,₹1000,38,"Sexologist, Urologist"
7,Dr. Anshu Syed,"MBBS, DNB - Obstetrics & Gynecology",98%,(54 patients),Mohali,₹500,18,"Gynecologist, Obstetrician"
9,Dr. Pooja Modgil,BAMS,98%,(127 patients),Mohali,₹500,24,AYUSHAyurveda

In [18]:
cl_df['DP Score'] = cl_df['DP Score'].str.rstrip('%').astype(float) / 20
cl_df.head()

,Name,Degree,DP Score,NPV Value,City,Consult Fee,Years of Experience,Speciality
3,Dr. Jasmeet Singh,"MBBS, DNB - General Medicine",5.00,(30 patients),Mohali,₹500,22,"Internal Medicine, General Physician, Consulta..."
4,Dr. Shikha Verma,"DNB - Dermatology & Venereology, MD - Dermatol...",4.95,(515 patients),Mohali,₹600,28,"Dermatologist, Venereologist, Aesthetic Dermat..."
6,Dr. R S Rai,"MBBS, MS - General Surgery, MCh - Urology",4.80,(106 patients),Mohali,₹1000,38,"Sexologist, Urologist"
7,Dr. Anshu Syed,"MBBS, DNB - Obstetrics & Gynecology",4.90,(54 patients),Mohali,₹500,18,"Gynecologist, Obstetrician"
9,Dr. Pooja Modgil,BAMS,4.90,(127 patients),Mohali,₹500,24,AYUSHAyurveda

In [19]:
cl_df['Consult Fee'] = cl_df['Consult Fee'].str.replace('₹', '', regex=True).astype(float)

In [20]:
cl_df.head()

,Name,Degree,DP Score,NPV Value,City,Consult Fee,Years of Experience,Speciality
3,Dr. Jasmeet Singh,"MBBS, DNB - General Medicine",5.00,(30 patients),Mohali,500.0,22,"Internal Medicine, General Physician, Consulta..."
4,Dr. Shikha Verma,"DNB - Dermatology & Venereology, MD - Dermatol...",4.95,(515 patients),Mohali,600.0,28,"Dermatologist, Venereologist, Aesthetic Dermat..."
6,Dr. R S Rai,"MBBS, MS - General Surgery, MCh - Urology",4.80,(106 patients),Mohali,1000.0,38,"Sexologist, Urologist"
7,Dr. Anshu Syed,"MBBS, DNB - Obstetrics & Gynecology",4.90,(54 patients),Mohali,500.0,18,"Gynecologist, Obstetrician"
9,Dr. Pooja Modgil,BAMS,4.90,(127 patients),Mohali,500.0,24,AYUSHAyurveda

In [21]:
print(cl_df['Years of Experience'].apply(type).value_counts())

Years of Experience
<class 'str'>    9364
Name: count, dtype: int64

In [22]:
cl_df = cl_df[cl_df['Years of Experience'].apply(lambda x: str(x).replace('.', '', 1).isdigit())]

# Convert to float
cl_df['Years of Experience'] = cl_df['Years of Experience'].astype(float)
cl_df.head()

,Name,Degree,DP Score,NPV Value,City,Consult Fee,Years of Experience,Speciality
3,Dr. Jasmeet Singh,"MBBS, DNB - General Medicine",5.00,(30 patients),Mohali,500.0,22.0,"Internal Medicine, General Physician, Consulta..."
4,Dr. Shikha Verma,"DNB - Dermatology & Venereology, MD - Dermatol...",4.95,(515 patients),Mohali,600.0,28.0,"Dermatologist, Venereologist, Aesthetic Dermat..."
6,Dr. R S Rai,"MBBS, MS - General Surgery, MCh - Urology",4.80,(106 patients),Mohali,1000.0,38.0,"Sexologist, Urologist"
7,Dr. Anshu Syed,"MBBS, DNB - Obstetrics & Gynecology",4.90,(54 patients),Mohali,500.0,18.0,"Gynecologist, Obstetrician"
9,Dr. Pooja Modgil,BAMS,4.90,(127 patients),Mohali,500.0,24.0,AYUSHAyurveda

In [23]:
cl_df['NPV Value'] = cl_df['NPV Value'].str.extract(r'(\d+)').astype(float)

In [24]:
cl_df['NPV Value'] = cl_df['NPV Value'].astype(float)
cl_df.head()

,Name,Degree,DP Score,NPV Value,City,Consult Fee,Years of Experience,Speciality
3,Dr. Jasmeet Singh,"MBBS, DNB - General Medicine",5.00,30.0,Mohali,500.0,22.0,"Internal Medicine, General Physician, Consulta..."
4,Dr. Shikha Verma,"DNB - Dermatology & Venereology, MD - Dermatol...",4.95,515.0,Mohali,600.0,28.0,"Dermatologist, Venereologist, Aesthetic Dermat..."
6,Dr. R S Rai,"MBBS, MS - General Surgery, MCh - Urology",4.80,106.0,Mohali,1000.0,38.0,"Sexologist, Urologist"
7,Dr. Anshu Syed,"MBBS, DNB - Obstetrics & Gynecology",4.90,54.0,Mohali,500.0,18.0,"Gynecologist, Obstetrician"
9,Dr. Pooja Modgil,BAMS,4.90,127.0,Mohali,500.0,24.0,AYUSHAyurveda

Dropping Duplicates

In [25]:
cl_df.duplicated().sum()

np.int64(200)

In [26]:
print(cl_df.count())

Name                   8659
Degree                 8659
DP Score               8659
NPV Value              8659
City                   8659
Consult Fee            8659
Years of Experience    8659
Speciality             8659
dtype: int64

In [27]:
cl_df = cl_df.drop_duplicates()

In [28]:
print(cl_df.count())

Name                   8459
Degree                 8459
DP Score               8459
NPV Value              8459
City                   8459
Consult Fee            8459
Years of Experience    8459
Speciality             8459
dtype: int64

Generating Doctor ID

In [29]:
import itertools

letters = [''.join(c) for c in itertools.product('ABCDEFGHIJKLMNOPQRSTUVWXYZ', repeat=3)]
numbers = [f"{i:03}" for i in range(1, 1000)]

doctor_ids = [letter + num for letter in letters for num in numbers]

cl_df['Doctor_ID'] = doctor_ids[:len(cl_df)]

print(cl_df.head())

                Name                                             Degree  \
3  Dr. Jasmeet Singh                       MBBS, DNB - General Medicine
4   Dr. Shikha Verma  DNB - Dermatology & Venereology, MD - Dermatol...
6        Dr. R S Rai          MBBS, MS - General Surgery, MCh - Urology
7     Dr. Anshu Syed                MBBS, DNB - Obstetrics & Gynecology
9   Dr. Pooja Modgil                                               BAMS

   DP Score  NPV Value    City  Consult Fee  Years of Experience  \
3      5.00       30.0  Mohali        500.0                 22.0
4      4.95      515.0  Mohali        600.0                 28.0
6      4.80      106.0  Mohali       1000.0                 38.0
7      4.90       54.0  Mohali        500.0                 18.0
9      4.90      127.0  Mohali        500.0                 24.0

                                          Speciality Doctor_ID
3  Internal Medicine, General Physician, Consulta...    AAA001
4  Dermatologist, Venereologist, Aesthetic Dermat...    AAA002
6                              Sexologist, Urologist    AAA003
7                         Gynecologist, Obstetrician    AAA004
9                                      AYUSHAyurveda    AAA005

Shifting column

In [30]:
col = cl_df.pop('Doctor_ID')
cl_df.insert(0, 'Doctor_ID', col)
cl_df.head()

,Doctor_ID,Name,Degree,DP Score,NPV Value,City,Consult Fee,Years of Experience,Speciality
3,AAA001,Dr. Jasmeet Singh,"MBBS, DNB - General Medicine",5.00,30.0,Mohali,500.0,22.0,"Internal Medicine, General Physician, Consulta..."
4,AAA002,Dr. Shikha Verma,"DNB - Dermatology & Venereology, MD - Dermatol...",4.95,515.0,Mohali,600.0,28.0,"Dermatologist, Venereologist, Aesthetic Dermat..."
6,AAA003,Dr. R S Rai,"MBBS, MS - General Surgery, MCh - Urology",4.80,106.0,Mohali,1000.0,38.0,"Sexologist, Urologist"
7,AAA004,Dr. Anshu Syed,"MBBS, DNB - Obstetrics & Gynecology",4.90,54.0,Mohali,500.0,18.0,"Gynecologist, Obstetrician"
9,AAA005,Dr. Pooja Modgil,BAMS,4.90,127.0,Mohali,500.0,24.0,AYUSHAyurveda

In [31]:
cl_df.to_csv('cleaned_data.csv', index=False)

#Linear Regression for DPV, NPV

In [32]:
print(df.head())

                 Name                                             Degree  \
0   Dr. Vinay Sakhuja               MBBS, MD - Medicine, DM - Nephrology
1    Dr. Gaurav Saini                            MBBS, MS - Orthopaedics
2  Dr. Munish Chauhan       MBBS, MD - General Medicine, DM - Nephrology
3   Dr. Jasmeet Singh                       MBBS, DNB - General Medicine
4    Dr. Shikha Verma  DNB - Dermatology & Venereology, MD - Dermatol...

  DP Score       NPV Value    Location    City Consult Fee  \
0      NaN             NaN    Phase-VI  Mohali       ₹1200
1      NaN             NaN    Phase-VI  Mohali       ₹1100
2      NaN             NaN    Phase-VI  Mohali       ₹1200
3     100%   (30 patients)  Sector- 68  Mohali        ₹500
4      99%  (515 patients)  Sector- 69  Mohali        ₹600

  Years of Experience                                         Speciality
0                  44                      Nephrologist/Renal Specialist
1                  18                                 Orthopedic surgeon
2                  21                      Nephrologist/Renal Specialist
3                  22  Internal Medicine, General Physician, Consulta...
4                  28  Dermatologist, Venereologist, Aesthetic Dermat...

In [33]:
reg_df = df.copy()

In [34]:
reg_df.head()

,Name,Degree,DP Score,NPV Value,Location,City,Consult Fee,Years of Experience,Speciality
0,Dr. Vinay Sakhuja,"MBBS, MD - Medicine, DM - Nephrology",NaN,NaN,Phase-VI,Mohali,₹1200,44,Nephrologist/Renal Specialist
1,Dr. Gaurav Saini,"MBBS, MS - Orthopaedics",NaN,NaN,Phase-VI,Mohali,₹1100,18,Orthopedic surgeon
2,Dr. Munish Chauhan,"MBBS, MD - General Medicine, DM - Nephrology",NaN,NaN,Phase-VI,Mohali,₹1200,21,Nephrologist/Renal Specialist
3,Dr. Jasmeet Singh,"MBBS, DNB - General Medicine",100%,(30 patients),Sector- 68,Mohali,₹500,22,"Internal Medicine, General Physician, Consulta..."
4,Dr. Shikha Verma,"DNB - Dermatology & Venereology, MD - Dermatol...",99%,(515 patients),Sector- 69,Mohali,₹600,28,"Dermatologist, Venereologist, Aesthetic Dermat..."

In [35]:
print(reg_df.count())

Name                   17489
Degree                 17489
DP Score                9364
NPV Value               9364
Location               17489
City                   17489
Consult Fee            17489
Years of Experience    17489
Speciality             17489
dtype: int64

In [36]:
reg_df = reg_df.drop(columns=['Degree', 'Name', 'Location', 'City', 'Speciality'])

In [37]:
reg_df.dropna(inplace=True)

In [38]:
reg_df.count()

DP Score               9364
NPV Value              9364
Consult Fee            9364
Years of Experience    9364
dtype: int64

In [39]:
reg_df['Patients'] = reg_df['NPV Value'].str.extract(r'(\d+)').astype(int)

In [40]:
reg_df.drop(columns=['NPV Value'])

      DP Score Consult Fee Years of Experience  Patients
3         100%        ₹500                  22        30
4          99%        ₹600                  28       515
6          96%       ₹1000                  38       106
7          98%        ₹500                  18        54
9          98%        ₹500                  24       127
...        ...         ...                 ...       ...
17610      99%        ₹300                  13       296
17611     100%        ₹500                  22        12
17612      91%        ₹400                  20        32
17615      98%        ₹800                  39       102
17616      96%        ₹500                  16       216

[9364 rows x 4 columns]